/build/
build.gradle
/app/build.gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/generated/source/kaptKotlin/debugAndroidTest/
/app/build/generated/source/kapt/debug/
/app/build/generated/ap_generated_sources/debug/out/
/app/build/generated/source/buildConfig/debug/
/app/build/generated/source/kaptKotlin/debug/
/app/build/generated/source/kaptKotlin/debugUnitTest/
/app/build/generated/source/buildConfig/androidTest/debug/
